

@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 20px;
    padding: 0;
  }

  html, body {
    height: 90%;
    width: 90%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-color: white;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    line-height: 18px;
  }

  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 5px auto;
    /* max-width: 960px; */
    padding: 2.25%; /* 18px / 800px */
    width: 95%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
    font-weight: bold;
    text-decoration: underline;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  } 

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item img {
    width: 80%;
    display: block;
    margin: auto;
  }


  .item {
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 270px;
    margin: 5px;
    padding: 10px;
  }

  header {
    /* background-color: navy; */
    /* background-image: url("https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    overflow: hidden; */
    width: 100%;
    height: 10%;
  }

  header a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    overflow: wrap;
  }

  .item input[type=submit]{
    margin: 0px;
  }

  .delete input[type=submit]{
    margin: 0px;
    background: red;
    color: white;
  }

  input[type=submit] {
    border-radius: 5px;
    border: 5px;
    padding: 10px;
    /* margin: 0px; */
    border-color: black;
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f4f4f4), color-stop(100%, #ededed));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 1%, #ededed 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 1%, #ededed 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ededed', GradientType=0);
    /* IE6-9 */
}

.bio {
  width: 40%; 
  height: auto;
  padding: 1%;
  border-style: solid;
  border-color: black;
}

.page-heading h1 {
  color: white;
  text-align: center;
  display: inline-block;
  width: 100%;
}

.page-heading {
  width: 95%;
  height: 100px;
  background-color: navy;
  align-items: center;
  display: flex;
}

}

@media screen and (max-width: 600px) {

  body {
    margin: none;
  }
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }

  .bio {
    width: 100%;
  }

  header a {
    color: black;
    text-decoration: none;
    overflow-wrap: normal;
    vertical-align: middle;
    display: block;
    position:relative;
  }

  header {
    /* background-color: navy; */
    background-image: none;
    overflow: normal;
    width: 100%;
    height: auto;
    color: white;
    border-style: solid;
    border-color: black;
    margin: auto;
  }

  
  .page-heading {
    margin: auto;
  }

}
