<div class="page-heading">
<h1> All users </h1>
</div>
<br><br>

<div class="flex-container">
<% @users.each do |user| %> 

    <% if user != current_user %>
    <div class="item">
    <h3> <%= user.username %> </h3> <br>
    <h4> Bio: <br> <%= user.bio %> </h4> <br>
    <p> Books liked: <%= user.likes.count %> <br>
    <p> <a href="/users/<%= user.id %>">See reading list</a> </p> <br>
    </div>
    <% end %>
    <br>

<% end %>    
</div>