
<br>
<h1> Log in to your account </h1>
<br>

<form method="post" action="/login">

    <label for="username">Enter username:</label> <br>
    <input type="text" name="username" value=""><br><br>
    <label for="password">Enter password:</label> <br>
    <input type="password" name="password" value=""><br><br>

    <input type="submit" value="Log in">

</form>