<div class="page-heading">
<h1> Create a new book </h1>
</div>
<br>

<% if logged_in? %>

    <form method="post" action="/books">

    <lable for="title">Title:</label> *required<br>
    <input type="text" name="book[title]"><br><br>
    <lable for="author">Author:</label> *required<br>
    <input type="text" name="book[author]"><br><br>
    <lable for="image">Image URL:</label> *required<br>
    <input type="text" name="book[image_url]"><br><br>


    <input type="submit" value="Create a new book">

</form>
<% else %> 
    <br>
    <h4> Login or sign up to create a book! </h4>  
    <br> 
<% end %>