<h1> Create a new book </h1>
<br>

<form method="post" action="/books">

<lable for="title">Title:</label><br>
<input type="text" name="book[title]"><br><br>
<lable for="author">Author:</label><br>
<input type="text" name="book[author]"><br><br>
<lable for="image">Image URL:</label><br>
<input type="text" name="book[image_url]"><br><br>


<input type="submit" value="Create a new book">

</form>