



<h1> Welcome to your book club! </h1>
<br>
<a button type="button" href="/books">See All Books</a> <br>
<a button type="button" href="/users">Browse All Users</a> <br><br>

<% if logged_in? %>
<a button type="button" href="/users/<%= current_user.id %>">My reading list</a> <br><br>
<a button type="button" href="/logout">Logout</a> <br>
<a button type="button" href="/users/<%= current_user.id %>/edit">Edit my profile</a> <br>
<% else %>
  <a button type="button" href="/login">Login</a> <br>
  <a button type="button" href="/users/new">Signup</a> <br>
<% end %>